<side-drawer-toggle data-drawer="drawer-mini-cart">
  <div class="cart-icon-counter">
    <button class="cart-toggle">
      {% render 'icon-bag' %}
    </button>
    <div class="cart-count mini-cart-count-js">{{ cart.item_count }}</div>
  </div>
</side-drawer-toggle>
