<side-drawer class="drawer drawer-header-right" id="drawer-mini-cart">
  <div class="drawer-inner">
    <div class="drawer-header">
      <span class="drawer-title">{{ 'cart.general.minicart_title' | t }}</span>

      <side-drawer-toggle data-drawer="drawer-mini-cart">
        {% render 'icon-close' %}
      </side-drawer-toggle>
    </div>
    
      <mini-cart class="drawer-content mini-cart mini-cart-items-js">
        {% render 'icon-loading-overlay-spinner' %}
  
        <div class="mini-cart-items mini-cart-items-js">
          {% render 'minicart-items' %}
        </div>
      </mini-cart>

    </div>
  </div>
</side-drawer>
