<side-drawer class="drawer drawer-header-right" id="drawer-mini-cart">
  <div class="drawer-inner">
    <div class="drawer-header">
      <span class="drawer-title">Cart title</span>
      <side-drawer-toggle data-drawer="drawer-mini-cart">
        {% render 'icon-close' %}
      </side-drawer-toggle>
    </div>
  </div>
</side-drawer>
