<h2 id="featured_collection-{{ section.id }}" class="text-center">{{ section.settings.title }}</h2>
<div class="featured-collection">
  {% for product in section.settings.featured_collection.products limit: section.settings.number_of_products_to_show %}
    <div class="collection-product">
      {% render 'product-card', featured_product: product %}
    </div>
  {% else %}
    <p>No products are available. Please check back later.</p>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Featured Collection",
  "class": "featured-collection-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured Collection",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "number_of_products_to_show",
      "min": 4,
      "max": 12,
      "default": 4,
      "label": "Number of products to show"
    }
  ],
  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}