<div class="header-bar">
  <header id="header" class="header" style="overflow-y:visible">
    <div class="header-content">
      {% render 'nav-logo' %}
      {% render 'cart-toggle' %}
    </div>
    {% render 'minicart' %}
  </header>
</div>
