<div class="hero">
  {% if section.settings.hero_image %}
    <picture>
      <img class="hero-image"
        src="
        {{ section.settings.hero_image |
          image_url: width: 1512 | 
          image_tag: sizes: 
            '(min-width:1600px) 960px, (min-width: 768px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem), (max-width: 375px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)' 
        }}" 
        data-src="{{ section.settings.hero_image | image_url }}"
        data-widths="[375, 768, 960, 1080, 1296, 1512, 1728, 1944, 2048]"
        data-aspectratio="auto"
        data-sizes="auto"
        data-parent-fit="cover"
        alt="{{ image.alt }}" 
      />
    </picture>
  {% endif %}
</div>
{% schema %}
  {
    "name": "Hero section",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Image"
      },
      {
        "type": "text",
        "id": "hero_heading",
        "label": "Hero Heading"
      }, {
        "type": "textarea",
        "id": "hero_body",
        "label": "Hero Body Copy"
      },
      {
        "type": "product",
        "id": "hero_product",
        "label": "Hero Product"
      },
      {
        "type": "checkbox",
        "id": "show_hero_product",
        "label": "Show hero product?",
        "default": true
      }            
    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}
