<div class="hero">
  {% if section.settings.hero_image %}
    <picture>
      <img class="hero-image" src="{{section.settings.hero_image | image_url }}">
    </picture>
  {% endif %}
</div>
{% schema %}
  {
    "name": "Hero section",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Image"
      },
      {
        "type": "text",
        "id": "hero_heading",
        "label": "Hero Heading"
      }, {
        "type": "textarea",
        "id": "hero_body",
        "label": "Hero Body Copy"
      },
      {
        "type": "product",
        "id": "hero_product",
        "label": "Hero Product"
      },
      {
        "type": "checkbox",
        "id": "show_hero_product",
        "label": "Show hero product?",
        "default": "true"
      }            
    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}
