.mini-cart.drawer-content {
  padding-top: 0;
  overflow-y: scroll;
}

.mini-cart-items {
  width: 100%;
}

.mini-cart-item {
  display: flex;
  padding-bottom: 1.6rem;
}

.mini-cart-item-media {
  padding-right: 1.6rem;
}

.mini-cart-item-media img {
  width: 100px;
  height: auto;
}

.mini-cart-item-link {
  display: flex;
}

.mini-cart-item-details {
  padding-right: 1.6rem;
  flex-grow: 1;
  line-height: 1.2;
}

.mini-cart-item-name {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 1.3rem;
}

.mini-cart-item-quantity-wrapper {
  margin-top: 0.66rem;
}

@media screen and (min-width: 750px) {
  .mini-cart-item-name {
    font-size: 1.3rem;
  }
}

.mini-cart .spinner {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.1s;
  position: absolute;
  left: calc(50% - 1.5rem);
  top: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
}

.mini-cart.loading > *:not(.spinner) {
  opacity: 0;
  visibility: hidden;
}

.mini-cart.loading .spinner {
  opacity: 1;
  visibility: visible;
}

.mini-cart-footer {
  min-height: 38vh;
}

.mini-cart-footer .button:not(:last-of-type) {
  margin-bottom: 1.6rem;
}

.mini-cart-footer-promo {
  margin-top: 1.6rem;
  max-height: 20vh;
}

.mini-cart-footer-promo picture {
  display: flex;
  width: 100%;
}

.mini-cart-footer-promo img {
  width: 100%;
  height: auto;
}

.mini-cart-empty {
  font-size: 4rem;
  line-height: 4.8rem;
  text-align: center;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  padding: 0 2rem;
}

.product-upsell {
  display: flex;
  padding: 0;
}

.upsell-image {
  margin-right: 2rem;
}

.upsell-heading {
  color: #17d1ea;
}

.upsell-description {
  color: #17d1ea;
}

.upsell-button {
  display: block;
  min-width: 100%;
  margin-top: 2rem;
}
